Skip to content
Search…
All gists
Back to GitHub
New gist
@ggpfeifer 
28
23 @chhhchhh/.gitignore
Last active 2 months ago • 

nginx-images
nginx-load-balancer


<script src="https://gist.github.com/chhh/4961200.js"></script>
  
 Code  Revisions 3  Stars 28  Forks 23
.gitignore file for IDEA, Eclipse, NetBeans
 .gitignore
#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
 @ggpfeifer
   
 
 
Leave a comment
Attach files by dragging & dropping, selecting them, or pasting from the clipboard.

 Styling with Markdown is supported
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
Press h to open a hovercard with more details.
